<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jks.dao.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.jks.entity.FileInfo">
   
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Url" jdbcType="VARCHAR" property="url" />
    <result column="WriteTime" jdbcType="VARCHAR" property="writetime" />
    <result column="Writer" jdbcType="VARCHAR" property="writer" />
    <result column="Source" jdbcType="VARCHAR" property="source" />
    <result column="City" jdbcType="VARCHAR" property="city" />
    <result column="Audit" jdbcType="INTEGER" property="audit" />
  </resultMap>
  <sql id="Base_Column_List">
   
    ID, Name, Url, WriteTime, Writer, Source, City, Audit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   
    select 
    <include refid="Base_Column_List" />
    from fileinfo
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectFileByName" resultType="java.lang.Integer">
  	select count(*) from fileinfo where Writer = #{0} and  Name = #{1}
  </select>
 
	<select id="getFileList" resultType="com.jks.entity.FileInfo">
	SELECT * FROM fileinfo
		<where>
			1=1
			<if test="Writer != null and Writer != ''">
				AND Writer = #{Writer}
			</if>
			<if test="WriteTime != null and WriteTime != ''">
				AND WriteTime = #{WriteTime}
			</if>
			<if test="Source != null and Source != ''">
				AND Source = #{Source}
			</if>
		
		</where>
	</select>
	<select id="findByCity"  resultType="com.jks.entity.FileInfo" parameterType="java.lang.String">
		SELECT * FROM fileinfo WHERE 
		City LIKE CONCAT('%','${city}','%' ) AND Source=#{source}
		<if test="year != null and year != ''">
           AND `Year` = #{year}
        </if>
    </select> 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   
    delete from fileinfo
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jks.entity.FileInfo">
   
    insert into fileinfo (ID, Name, Url, 
      WriteTime, Writer, Source, 
      City, Audit)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{writetime,jdbcType=VARCHAR}, #{writer,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{audit,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertByWriter" parameterType="com.jks.entity.FileInfo" useGeneratedKeys="true" keyProperty="ID">
  	 insert into fileinfo (Name, Url, 
      WriteTime, Writer, Source, 
      City, Audit)
    values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{writetime,jdbcType=VARCHAR}, #{writer,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{audit,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertSelective" parameterType="com.jks.entity.FileInfo">
   
    insert into fileinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="url != null">
        Url,
      </if>
      <if test="writetime != null">
        WriteTime,
      </if>
      <if test="writer != null">
        Writer,
      </if>
      <if test="source != null">
        Source,
      </if>
      <if test="city != null">
        City,
      </if>
      <if test="audit != null">
        Audit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="writetime != null">
        #{writetime,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        #{writer,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="audit != null">
        #{audit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jks.entity.FileInfo">
   
    update fileinfo
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        Url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="writetime != null">
        WriteTime = #{writetime,jdbcType=VARCHAR},
      </if>
      <if test="writer != null">
        Writer = #{writer,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        Source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="audit != null">
        Audit = #{audit,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jks.entity.FileInfo">
 
    update fileinfo
    set Audit = 1
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>